---
import Layout from '../../layouts/Layout.astro'
import EnhancedBlogClient from '../../components/enhanced-blog-client'
import ScrollToTop from '../../components/scroll-to-top'
import Navbar from '../../components/navbar'
import Footer from '../../components/footer'
import { getAllBlogPosts } from '../../lib/content'

const posts = await getAllBlogPosts()
---

<Layout title="Blog & Articles">
  <Navbar client:load />
  <div class="min-h-screen bg-background">
    <div class="pt-16 md:pt-20">
      <div class="container mx-auto px-4 py-12">
        <div class="max-w-6xl mx-auto">
          <!-- 拡張されたブログクライアント -->
          <EnhancedBlogClient englishPosts={posts} client:load mode="index" />
        </div>
      </div>
    </div>
  </div>
  <Footer />
  <ScrollToTop client:load>
    <div></div>
  </ScrollToTop>
</Layout>