---
import Layout from '../layouts/Layout.astro'
import Projects from '../components/projects'
import EnhancedBlogClient from '../components/enhanced-blog-client'
import Hero from '../components/hero'
import Skills from '../components/skills'
import Contact from '../components/contact'
import { getAllProjects, getAllBlogPosts } from '../lib/content'

const projects = getAllProjects()
const englishPosts = getAllBlogPosts()
---

<Layout title="Home">
  <Hero />
  <Skills />
  <section id="projects">
    <Projects client:visible projects={projects} showTags={false} />
  </section>
  <section id="blog">
    <EnhancedBlogClient client:visible englishPosts={englishPosts} mode="home" />
  </section>
  <Contact />
</Layout>