---
import Layout from '../layouts/Layout.astro'
import Projects from '../components/projects'
import EnhancedBlogClient from '../components/enhanced-blog-client'
import Hero from '../components/hero'
import Skills from '../components/skills'
import Contact from '../components/contact'
import Navbar from '../components/navbar'
import { getAllProjects, getAllBlogPosts } from '../lib/content'
import Footer from '../components/footer'

const projects = getAllProjects()
const englishPosts = getAllBlogPosts()
---

<Layout title="Home">
  <Navbar client:idle />
  <Hero />
  <Skills client:visible />
  <section id="projects">
    <Projects client:visible projects={projects} showTags={false} />
  </section>
  <section id="blog">
    <EnhancedBlogClient client:visible englishPosts={englishPosts} mode="home" />
  </section>
  <Contact client:visible />
  <Footer client:idle />
</Layout>